@use "src/styles/abstracts" as *;

.chatlist {
  @include flexcol();
  position: relative;
  flex: 1;
  transition: all 0.2s;
  background-color: $darker-blue;
  border-radius: 12px;

  &__header {
    @include font(0.5, bold);
    @include flexrow(space-between, center, 0.5em);
    padding: 0.75em;
    overflow: hidden;
  }

  &__compose {
    @include font(1);
    cursor: pointer;
    color: $basic-white;

    &:hover {
      color: $light-gray;
    }
  }

  &__chats {
    @include flexcol(initial, stretch, 2em);
    overflow-y: auto;
    padding: 1em;
  }
}
