@use "src/styles/abstracts" as *;

.chatlist {
  @include flexcol();
  position: relative;
  flex: 1;
  transition: all 0.2s;
  border-radius: 12px;

  &--light {
    background-color: $light-white;

    .chatlist__header {
      color: $basic-black;
    }

    .chatlist__compose {
      color: $basic-black;

      &:hover {
        color: $lighter-gray;
      }
    }
  }

  &--dark {
    background-color: $darker-blue;

    .chatlist__header {
      color: $basic-white;
    }

    .chatlist__compose {
      color: $basic-white;

      &:hover {
        color: $light-gray;
      }
    }
  }

  &__header {
    @include font(0.5, bold);
    @include flexrow(space-between, center, 0.5em);
    padding: 0.75em;
    overflow: hidden;
  }

  &__compose {
    @include font(1);
    cursor: pointer;
  }

  &__chats {
    @include flexcol(initial, stretch, 2em);
    padding: 1em;
    overflow-y: auto;
  }
}
