@use "src/styles/abstracts" as *;

.theme-toggle {
  width: 65px;
  padding: 0.5em 1em;

  &__input {
    display: none;

    &:checked {
      & + .theme-toggle__label {
        background-color: $icon-moon-bg;
      }

      & ~ .theme-toggle__label {
        & > .theme-toggle__sun {
          transform: translateX(0px);
          opacity: 0;
        }

        & > .theme-toggle__moon {
          transform: translateX(-35px);
          opacity: 1;
        }
      }
    }
  }

  &__label {
    @include flexrow(center, center, 0.5em);
    cursor: pointer;
    border-radius: 30px;
    background-color: $icon-sun-bg;
    padding: 10px;
    width: fit-content;
    height: 31px;
  }

  &__sun {
    transform: translateX(30px);
    transition: 0.3s;
    color: $icon-sun;
    font-size: 25px;
  }

  &__moon {
    transform: translateX(0px);
    opacity: 0;
    transition: 0.3s;
    color: $icon-moon;
    font-size: 25px;
  }
}
