@use "src/styles/abstracts" as *;

.auth {
  @include padding-y(2em);
  margin: auto;
  width: 100%;
  max-width: 770px;

  &__header {
    @include font(1);
    padding-bottom: 1em;

    &--light {
      color: $basic-black;
    }

    &--dark {
      color: $basic-white;
    }
  }

  &__container {
    @include flexcol(center, center, 1em);
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 1em;
    width: 100%;

    &--light {
      background-color: $light-white;
    }

    &--dark {
      background-color: $foreground-blue;
    }
  }

  &__form {
    @include flexcol(initial, center, 0.5em);
    margin: auto;
    width: 100%;
    @include padding-y(1em);

    &--reset {
      gap: 0.75em;
      padding: 1em;
    }
  }

  &__group {
    @include flexcol(initial, flex-start, 0.5em);
  }

  &__label {
    @include font(1);

    &--light {
      color: $basic-black;
    }

    &--dark {
      color: $basic-white;
    }
  }

  &__input {
    @include font(1);
    outline: none;
    border: 2px solid $basic-white;
    padding: 0.15em 0.25em;

    &--light {
      border-color: $basic-black;
      color: $basic-black;
    }

    &--dark {
      border-color: $basic-white;
      color: $basic-white;
    }

    &--invalid {
      border-color: $basic-red;
    }
  }

  &__submit {
    @include font(1);
    margin: auto;
    padding: 0.5em 1em;
    width: fit-content;

    &--light {
      background-color: $basic-blue;
      color: $basic-white;
    }

    &--dark {
      background-color: $basic-white;
      color: $basic-black;
    }
  }

  &__reset {
    @include font(0.75);
    @include flexrow(center, center, 0.5em);

    &--light {
      color: $basic-black;
    }

    &--dark {
      color: $basic-white;
    }
  }

  &__highlight {
    @include font(0.75, bold);

    &--light {
      color: $lighter-green;
    }

    &--dark {
      color: $light-green;
    }
  }

  &__back {
    @include font(0.75);
    @include flexcol(initial, center, 1em);
    margin-top: 1em;
    border-top: 1px solid $basic-white;
    padding: 1em;
    width: 100%;

    &--light {
      border-color: $basic-black;
      color: $basic-black;
    }

    &--dark {
      border-color: $basic-white;
      color: $basic-white;
    }
  }

  &__back-button {
    @include font(1);
    @include flexrow(center, center, 0.5em);
    position: relative;
    vertical-align: middle;
    transition: all 0.2s;
    margin: 0 auto;
    border: 1px solid $basic-white;
    padding: 0.5em 1.5em;
    text-align: center;

    &--light {
      border-color: $basic-black;
      color: $basic-black;
    }

    &--dark {
      border-color: $basic-white;
      color: $basic-white;
    }

    &--before:hover {
      padding-right: 1em;
      padding-left: 2em;

      .auth__arrow {
        left: 10px;
        opacity: 1;
      }
    }

    &--after:hover {
      padding-right: 2em;
      padding-left: 1em;

      .auth__arrow {
        right: 10px;
        opacity: 1;
      }
    }
  }

  &__arrow {
    @include flexrow(center, center);
    position: absolute;
    top: 0;
    flex-wrap: initial;
    gap: initial;
    transform: translateY(50%);
    opacity: 0;
    transition: 0.2s;

    &--after {
      right: 0;
    }

    &--before {
      left: 0;
    }
  }

  &__google {
    @include font(0.75);
    @include flexrow(center, center, 0.5em);
    margin: auto;
    background-color: $basic-blue;
    padding: 0.75em;
    width: fit-content;

    &:hover {
      background-color: $darker-blue;
    }

    &__icon {
      @include font(1);
    }
  }
}

@include md {
  .auth {
    @include flexcol(center, center);
    background-color: $foreground-blue;
    padding: 0;
    height: 100%;

    &__container {
      box-shadow: none;
      border-radius: 0px;
      padding: 0;
      height: fit-content;
    }

    &__form {
      width: 90%;
    }

    &__header {
      font-size: 1.25rem;
    }

    &__group {
      align-items: stretch;
      width: 100%;
    }

    &__label {
      font-size: 1.25rem;
    }

    &__input {
      font-size: 1.25rem;
    }

    &__submit {
      font-size: 1.25rem;
    }

    &__back {
      border: none;
      font-size: 1rem;
    }

    &__reset {
      font-size: 1rem;
    }

    &__highlight {
      font-size: 1rem;
    }

    &__google {
      font-size: 1rem;

      &:hover {
        background-color: $basic-blue;
      }

      &__icon {
        font-size: 1.25rem;
      }
    }
  }
}
