@use "src/styles/abstracts" as *;

.auth {
  @include padding-y(2em);
  margin: auto;
  width: 100%;
  max-width: 600px;

  &__header {
    @include font(1);
    padding-bottom: 1em;
  }

  &__container {
    @include flexcol(center, center, 1em);
    margin: auto;
    border-radius: 12px;
    padding: 1em;
    width: 100%;
  }

  &__form {
    @include flexcol(initial, center, 0.5em);
    margin: auto;
    width: fit-content;
  }

  &__group {
    @include flexcol(initial, flex-start, 0.5em);
  }

  &__label {
    @include font(0.75);
  }

  &__input {
    @include font(0.75);
    outline: none;
    border: 2px solid $basic-white;
    padding: 0.15em 0.25em;
  }

  &__submit {
    @include font(1);
    margin: auto;
    padding: 0.5em 1em;
    width: fit-content;
    color: $basic-black;
    background-color: $basic-white;
  }

  &__reset {
    @include font(0.75);
    @include flexrow(center, center, 0.5em);
  }

  &__highlight {
    @include font(0.75, bold, $basic-green);
  }

  &__back {
    @include font(0.75);
    @include flexcol(initial, center, 1em);
    margin-top: 1em;
    border-top: 1px solid $basic-white;
    padding: 1em;
    width: 100%;
  }

  &__back-button {
    @include font(1);
    @include flexrow(center, center, 0.5em);
    position: relative;
    vertical-align: middle;
    transition: all 0.2s;
    margin: 0 auto;
    border: 1px solid $basic-white;
    padding: 0.5em 1.5em;
    text-align: center;

    &--before:hover {
      padding-right: 1em;
      padding-left: 2em;

      .auth__arrow {
        left: 10px;
        opacity: 1;
      }
    }

    &--after:hover {
      padding-right: 2em;
      padding-left: 1em;

      .auth__arrow {
        right: 10px;
        opacity: 1;
      }
    }
  }

  &__arrow {
    @include flexrow(center, center);
    position: absolute;
    top: 0;
    flex-wrap: initial;
    gap: initial;
    transform: translateY(50%);
    opacity: 0;
    transition: 0.2s;

    &--after {
      right: 0;
    }

    &--before {
      left: 0;
    }
  }
}
