$background: #121212;

$basic-white: #fafafa;
$basic-black: #121212;

$basic-green: #067511;
$basic-blue: #043ab8;
$basic-gray: #5c5e70;
$basic-red: #e41111;

$lighter-green: #089b17;

$darker-green: #034b0a;
$darker-gray: #3e404c;

$dark-blue: #0a1d33;
