$background: #121212;

$light-gray: #787891;

$lighter-gray: #5c5c70;
$lighter-green: #089b17;

$basic-white: #fafafa;
$basic-black: #121212;
$basic-gray: #49495a;

$basic-red: #e41111;
$basic-blue: #0445dc;
$basic-green: #067511;

$darker-gray: #373743;
$darker-green: #034b0a;
$darker-blue: #0a1d33;

$dark-gray: #2e2e38;
$dark-blue: #081729;
