@use "src/styles/abstracts" as *;

.alert {
  @include font(0.5, normal, $basic-white, italic);
  @include flexrow(center, center, 0.5em);
  opacity: 0;
  transition: all 0.2s;
  margin: 0 auto;
  padding: 1em 0;
  width: fit-content;
  height: 20px;

  &[aria-expanded="true"] {
    opacity: 1;
  }

  &__icon {
    color: red;
  }
}
