@use "src/styles/abstracts" as *;

.theme-toggle {
  &__input {
    display: none;

    &:checked {
      & + .theme-toggle__label {
        background-color: $icon-moon-bg;
      }

      & ~ .theme-toggle__label {
        & > .theme-toggle__icon--sun {
          transform: translateX(0px);
          opacity: 0;
        }

        & > .theme-toggle__icon--moon {
          transform: translateX(-30px);
          opacity: 1;
        }
      }
    }
  }

  &__label {
    @include flexrow(center, center, 0.5em);
    cursor: pointer;
    border-radius: 30px;
    background-color: $icon-sun-bg;
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
  }

  &__icon {
    transition: all 0.3s;
    font-size: 20px;

    &--sun {
      transform: translateX(25px);
      color: $icon-sun;
    }

    &--moon {
      transform: translateX(0px);
      opacity: 0;
      color: $icon-moon;
    }
  }
}
