@use "src/styles/abstracts" as *;

.chat-search {
  position: relative;

  &--light &__input {
    border-color: transparent;
    background-color: $dark-white;
    color: $basic-black;
  }

  &--dark &__input {
    background-color: $dark-blue;
    color: $basic-white;

    &:focus-within {
      border-color: $basic-white;
    }
  }

  &__input {
    @include font(0.75);
    outline: none;
    border: 1px solid $light-gray;
    padding: 0.5em 0.75em;
    width: 100%;

    &::placeholder {
      color: $light-gray;
    }
  }

  &__users {
    @include flexcol();
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: $basic-green;

    &[aria-expanded="true"] {
      height: fit-content;
      max-height: 200px;
      overflow-y: auto;
    }
  }

  &__user {
    @include flexrow(initial, center, 0.25em);
    padding: 1em;
    text-align: left;

    &:hover {
      background-color: $darker-green;
    }
  }

  &__name {
    @include font(0.75, bold);
    text-transform: capitalize;
  }
}
