@use "src/styles/abstracts" as *;

.new-message {
  @include font(0.5);
  @include flexrow(space-between, center, 0.25em);
  border: 1px solid gray;
  padding: 0.75em;

  &:focus-within {
    border-color: $basic-white;
  }

  &__input {
    @include font(0.75);
    flex-grow: 1;
    outline: none;
    width: 100%;
  }

  &__button {
    @include font(0.75);
    cursor: pointer;
    color: gray;

    &:hover {
      color: green;
    }
  }
}
