@use "src/styles/abstracts" as *;

.new-message {
  @include font(0.5);
  @include flexrow(space-between, center);
  backdrop-filter: blur(10px);
  border: 1px solid $light-gray;
  border-radius: 30px;
  padding-right: 0.5em;
  padding-left: 1em;
  width: 100%;
  height: 60px;
  text-transform: capitalize;

  &__container {
    @include flexrow(space-between, center);
    @include padding-x(1em);
    position: absolute;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 100%;
    height: 80px;

    &--light {
      background-color: rgba(245, 245, 245, 0.5);
    }

    &--dark {
      background-color: rgba(10, 29, 51, 0.5);
    }
  }

  &--light {
    border: 1px solid $light-gray;

    .new-message__input {
      color: $basic-black;
    }
  }

  &--dark {
    &:focus-within {
      border-color: $basic-white;
    }
  }

  &__input {
    @include font(0.75);
    flex-grow: 1;
    outline: none;
    width: 100%;

    &--dark {
      color: $basic-white;
    }

    &::placeholder {
      color: $light-gray;
    }
  }

  &__button {
    @include badge(0.65, $light-gray, $lighter-blue, 2em);
    cursor: pointer;

    &:hover {
      color: $basic-white;
    }

    &--active {
      color: $basic-white;
    }
  }
}
