@use "src/styles/abstracts" as *;

.chats {
  @include flexcol();
  position: relative;
  flex: 2;
  border-radius: 12px;
  padding: 1em 2em;
  height: 100%;

  &--light {
    background-color: $light-white;

    .chats__header {
      border-color: $basic-gray;
      background-color: rgba(245, 245, 245, 0.5);
      color: $basic-black;
    }

    .chats__date {
      color: $basic-gray;
    }
  }

  &--dark {
    background-color: $darker-blue;

    .chats__header {
      background-color: rgba(10, 29, 51, 0.5);
      color: $basic-white;
    }

    .chats__date {
      color: $light-gray;
    }
  }

  &__header {
    @include font(0.5, bold);
    @include flexrow(initial, center, 1em);
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    flex-grow: 1;
    z-index: 2;
    backdrop-filter: blur(10px);
    padding: 1em;
    width: 100%;
    text-transform: capitalize;
  }

  &__messages {
    @include flexcol($gap: 1em);
    padding: 1em 1em 3em 1em;
    max-width: 100%;
    overflow-y: auto;
  }

  &__message {
    @include flexcol($gap: 0.25em);
  }

  &__date {
    @include font(0.5, bold);
    @include padding-y(1.5em);
    align-self: center;
  }
}
