@use "src/styles/abstracts" as *;

.chats {
  @include flexcol($gap: 0.25em);
  flex: 2;
  border-radius: 12px;
  padding: 1em 2em;
  overflow-y: auto;

  &--light {
    background-color: $light-white;

    .chats__header {
      border-color: $basic-gray;
      color: $basic-black;
    }

    .chats__date {
      color: $basic-gray;
    }
  }

  &--dark {
    background-color: $darker-blue;

    .chats__header {
      color: $basic-white;
    }

    .chats__date {
      color: $light-gray;
    }
  }

  &__header {
    @include font(0.5, bold);
    @include flexrow(initial, center, 1em);
    position: relative;
    border-bottom: 1px solid $lighter-gray;
    padding-bottom: 0.25em;
    text-transform: capitalize;
  }

  &__messages {
    @include flexcol($gap: 1em);
    @include gradient(bottom, $bottom: 99%);
    flex-grow: 1;
    padding: 0.5em 1em;
    max-width: 100%;
    overflow-y: auto;
  }

  &__message {
    @include flexcol($gap: 0.25em);
  }

  &__date {
    @include font(0.5, normal);
    @include padding-y(1.5em);
    align-self: center;
  }
}
