@use "src/styles/abstracts" as *;

.chats {
  @include flexcol();
  position: relative;
  flex: 2;
  border-radius: 12px;
  height: 100%;

  &--light {
    background-color: $light-white;
  }

  &--dark {
    background-color: $darker-blue;
  }

  &__header {
    @include font(0.5, bold);
    @include flexrow(initial, center, 1em);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 2em;
    width: 100%;
    height: 50px;
    text-transform: capitalize;

    &--light {
      border-color: $basic-gray;
      background-color: $light-white-transparent;
      color: $basic-black;
    }

    &--dark {
      background-color: $darker-blue-transparent;
      color: $basic-white;
    }
  }

  &__messages {
    @include padding-x(2em);
    @include flexcol($gap: 1em);
    margin-bottom: 80px;
    max-width: 100%;

    &--wrapper {
      overflow-y: auto;
    }
  }

  &__message {
    @include flexcol($gap: 0.25em);
  }

  &__date {
    @include font(0.5, bold, $light-gray);
    @include padding-y(1.5em);
    align-self: center;
  }
}
