@use "src/styles/abstracts" as *;

.chat-card {
  @include flexrow(initial, center, 1em);
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  padding: 1em;

  &--light {
    background-color: $light-gray;
  }

  &--dark {
    background-color: $basic-gray;
  }

  &[aria-selected="true"] {
    background-color: $basic-blue;
  }

  &__pin {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
  }

  &__icon {
    @include font(2.5, normal, $basic-white);
  }

  &__info {
    @include flexcol(initial, flex-start, 0.25em);
  }

  &__header {
    @include flexrow(space-between, center, 1em);
  }

  &__username {
    @include font(0.75, normal, $basic-white);
    text-transform: capitalize;
  }

  &__time {
    @include font(0.5);
  }

  &__message {
    @include font(0.5, normal, $basic-white);
  }

  &__unread {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: $basic-blue;
    width: 20px;
    height: 20px;
  }
}

@include md {
  .chat-card {
    gap: 0.5em;

    &__icon {
      font-size: 3rem;
    }

    &__username {
      font-size: 1.25rem;
    }

    &__message {
      font-size: 1rem;
    }
  }
}
