@use "src/styles/abstracts" as *;

.chat-card {
  @include flexcol($gap: 0.25em);
  cursor: pointer;
  padding: 1em;
  border-radius: 12px;

  &--light {
    background-color: $light-gray;
  }

  &--dark {
    background-color: $basic-gray;
  }

  &[aria-selected="true"] {
    background-color: $basic-blue;
  }

  &__username {
    @include font(0.75, normal, $basic-white);
    text-transform: capitalize;
  }

  &__message {
    @include font(0.5, normal, $basic-white);

    &--unread {
      font-weight: bold;
    }
  }
}
