@use "src/styles/abstracts" as *;

.message {
  @include flexrow(initial, center, 0.5em);
  transition: padding 0.2s;

  &--user {
    flex-direction: row-reverse;
  }

  &--liked {
    padding-top: 1.25em;
  }

  &__time {
    @include font(0.25, normal, $light-gray);
    @include padding-x(0.5em);
    width: fit-content;
  }

  &__deleted {
    @include font(0.5, bold, $lighter-gray, italic);

    &--light {
      color: $light-gray;
    }

    &--dark {
      color: $lighter-gray;
    }
  }
}

.bubble {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  padding: 8px 15px;
  width: fit-content;
  max-width: 80%;

  &:hover {
    .bubble__delete,
    .bubble__like {
      opacity: 1;
    }
  }

  &:before {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 20px;
    height: 20px;
    content: "";
  }

  &:after {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 20px;
    content: "";
  }

  &--light:after {
    background: $basic-white;
  }

  &--dark:after {
    background: $darker-blue;
  }

  &--user {
    margin-left: auto;
    background-color: $basic-blue;

    &:before {
      right: -8px;
      border-bottom-left-radius: 15px;
      background-color: $basic-blue;
    }

    &:after {
      right: -10px;
      border-bottom-left-radius: 10px;
    }
  }

  &--friend {
    &:before {
      left: -7px;
      border-bottom-right-radius: 15px;
    }

    &:after {
      left: -10px;
      border-bottom-right-radius: 10px;
    }

    &.bubble--light {
      background: $light-gray;

      &:before {
        background: $light-gray;
      }
    }

    &.bubble--dark {
      background: $basic-gray;

      &:before {
        background: $basic-gray;
      }
    }
  }

  &--clicked {
    .bubble__delete,
    .bubble__like {
      opacity: 1;
    }
  }

  &__button {
    @include font(0.5);
    @include badge(0.65, $light-gray, $basic-gray, 1.65em);
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__delete {
    top: 50%;
    left: -27px;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 1;
    }
  }

  &__like {
    top: -15px;
    background-color: $basic-blue;

    &--user {
      left: -16px;

      &.bubble__like--unliked {
        display: none;
      }

      &.bubble__like--light {
        background-color: $light-gray;
      }

      &.bubble__like--dark {
        background-color: $basic-gray;
      }
    }

    &--friend {
      right: -16px;

      &:hover {
        opacity: 1;
      }
    }

    &--liked {
      opacity: 1;
      color: $lighter-red;
    }
  }

  &__text {
    @include font(0.5);
    width: fit-content;
    word-break: break-all;

    &--deleted {
      @include font(initial, normal, $basic-white, italic);
    }
  }
}

@include md {
  .message {
    gap: 0.15em;

    &__time {
      display: none;
      font-size: 0.75rem;
    }

    &__deleted {
      @include padding-y(0.5em);
      font-size: 1rem;
    }
  }

  .bubble {
    max-width: 90%;

    &:before {
      width: 23px;
    }

    &--clicked {
      .bubble__delete,
      .bubble__like {
        display: unset;
      }
    }

    &__button {
      font-size: 1.35rem;
    }

    &__delete {
      display: none;
      left: -35px;
    }

    &__like {
      top: -20px;

      &--user {
        left: -22px;

        &.bubble__like--unliked {
          display: none;
        }
      }

      &--friend {
        right: -22px;
      }

      &--unliked {
        display: none;
      }
    }

    &__text {
      font-size: 1.5rem;
    }
  }
}
