@use "src/styles/abstracts" as *;

.wrapper {
  @include flexcol();
  height: 100dvh;
  height: 100svh;

  &--light {
    background-color: $background-light;
    color: $basic-black;
  }

  &--dark {
    background-color: $background-dark;
    color: $basic-white;
  }
}

.main {
  @include flexrow(center, center);
  flex: 1;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 1600px;
  height: 100%;
  max-height: 1000px;
  overflow: auto;

  &--light {
    background-color: $dark-white;
  }

  &--dark {
    background-color: $foreground-blue-dark;
  }
}

@include md {
  .main {
    box-shadow: none;
    max-height: unset;
    overflow: unset;
  }
}
