@use "src/styles/abstracts" as *;

.wrapper {
  @include flexcol();
  height: 100dvh;
  height: 100svh;
}

main {
  @include flexrow(center, center);
  margin: auto;
  background-color: $dark-blue;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 800px;
}
