@use "src/styles/abstracts" as *;

.error {
  @include font(1.25);
  @include flexcol(center, center, 0.25em);
  width: 100%;
  text-align: center;

  &__icon {
    @include font(2.5, normal, $basic-red);
  }

  &__header {
    @include font(1.5, bold);
  }

  &__message {
    @include font(1.25, normal, $light-gray);
  }

  &__button {
    @include font(1);
    @include flexrow(initial, center, 0.5em);
    margin-top: 1em;
    background-color: $basic-green;
    padding: 0.5em;
    width: fit-content;

    &:hover {
      background-color: $darker-green;
    }
  }
}
